<html>
<head>
	<title>Recipes</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
</head>
<body>
	<div ng-app="myApp" ng-controller="recipeCtrl">
		<h1>Recipes:</h1>
			<!-- <li ng-repeat="(key, data) in myData"> -->
			<span ng-repeat="recipe in myData">
						<h2>{{ recipe.name }}</h2>
						<h3>Ingredients:</h3>
						<p>
							{{recipe.ingredients}}
						</p>
			</span>

	</div>

	<script>
	var app = angular.module('myApp', []);
	app.controller('recipeCtrl', function($scope, $http) {
		$http.get("/getRecipes?id=1").then(function(response) {
			$scope.myData = response.data;
		});
	});
	</script>
</body>
</html>
